
:root {
    --modra:#166088;
   --bila: #ffffff;
   
   }
   
.uvod__obal{
    background-image: url(../images/ruzova-vlna.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 650px;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
}
h1{
   
}
.section{
    max-width: 1440px;
    margin: 0 auto;
   
    padding:  2em 0em 2em 0em;
}

.uvod__text{
    max-width: 400px;
    
}
.vyhody__obal{
   margin: 0 auto;
    max-width: 900px ;
    display: grid;
    grid-template-columns: 130px 130px 150px;
    justify-content: space-between;
    text-align: center;
}
.vyhody__item--ikonky{
    margin: 0 auto;
  align-self: end;
}
.vice-z-kolekce{
    background-image: url(../images/ruzova-vlna_2.svg); /* webp soubory udelat z png  sqoosh*/
    background-repeat: no-repeat;
    background-position: center;
    min-height: 850px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.button{
    background-color: var(--modra);
   padding: 1em 2em 1em 2em;
   width: fit-content;
   border-radius: 2em;
   color: var(--bila);
}
.produkty__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 635px;
}
.item__text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.produkty__item--1{
    background-image: url(../images/ruzovy-flek_1.svg);
 
}
.produkty__item--2{
    background-image: url(../images/ruzovy-flek_2.svg);
   
}

@media only screen and (max-width: 650px) {
    
.uvod__obal{
    flex-direction: column;
    background-size: 600px;
    background-position: 0px -100px;
    min-height: auto;
    padding-top: 4em;
}
.uvod__text{
    max-width: 300px;
}
.uvod__obrazek{
    max-width: 300px;
    max-height: 300px;
}
.vyhody__obal{
    grid-template-columns: 1fr;
    
}
.produkty__item{
    flex-direction: column;
}
}